version: "3.8"

services:
  app:
    build:
      context: .
    container_name: task-management-app
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app
    networks:
      - app-network
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: task-management-db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  frontend:
    build:
      context: ./frontend/task-management
      dockerfile: Dockerfile
    container_name: task-management-frontend
    ports:
      - "127.0.0.1:5174:80"
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
